/* ------------------------------------------------
# Common Style
* ------------------------------------------------*/
h1{
    font-size: 40px;
    font-weight: 500;
}

h2{
    font-size: 50px;
    font-weight: 700;
}

p{
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

a{
    color: #fff;
    font-family: Roboto, sans-serif;
    font-weight: 14px;
    padding: 10px 20px;
    background-color: #ED4B73;
    text-decoration:none;
    border-radius: 5px;
}

.col-2{
    width: 50%;
    float: left;
}

.col-3{
    width: 33.3%;
    float: left;
}

