/* ------------------------------------------------
# Common Style
* ------------------------------------------------*/
body{
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

h1{
    font-size: 40px;
    font-weight: 500;
}

h2{
    font-size: 50px;
    font-weight: 700;
}

h3{
    font-size: 30px;
    font-weight: 700;
}

p{
    font-size: 16px;
    font-family: Poppins, sans-serif;
}

a{
    color: #fff;
    font-family: Poppins, sans-serif;
    font-weight: 14px;
    padding: 10px 25px;
    background-color: #ED4B73;
    text-decoration:none;
    border-radius: 5px;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0px auto;
}

.col-2{
    width: 50%;
    float: left;
}

.col-3{
    width: 33.3%;
    float: left;
}

